# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file

.claude
.github
.gitignore
.dockerignore
.golangci.yml
.env
.vscode
bin/
build
dist
test
hack
deployments
Dockerfile
Dockerfile*
Makefile
PROJECT
*.md
*.out
