
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: teams.team.snappcloud.io
spec:
  group: team.snappcloud.io
  names:
    kind: Team
    listKind: TeamList
    plural: teams
    singular: team
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Team is the Schema for the teams API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TeamSpec defines the desired state of Team
            properties:
              argo:
                description: Foo is an example field of Team. Edit team_types.go to
                  remove/update
                properties:
                  admin:
                    description: 'INSERT ADDITIONAL STATUS FIELD - define observed
                      state of cluster Important: Run "make" to regenerate code after
                      modifying this file'
                    properties:
                      ciPass:
                        description: 'INSERT ADDITIONAL STATUS FIELD - define observed
                          state of cluster Important: Run "make" to regenerate code
                          after modifying this file'
                        type: string
                      users:
                        description: ArgocdToken string `json:"argocdToken,omitempty"`
                        items:
                          type: string
                        type: array
                    type: object
                  view:
                    properties:
                      ciPass:
                        description: 'INSERT ADDITIONAL STATUS FIELD - define observed
                          state of cluster Important: Run "make" to regenerate code
                          after modifying this file'
                        type: string
                      users:
                        description: ArgocdToken string `json:"argocdToken,omitempty"`
                        items:
                          type: string
                        type: array
                    type: object
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
